<div class="container">
  <div class="sideMenu">
    <div class="side-filter"></div>
  </div>
  <div class="mainContent">
    <div class="banner">
      <div class="top-options">
        <div class="search">
          <i class="fa fa-search left-icon" aria-hidden="true"></i>
          <input type="text" placeholder="Search" />
          <i class="fa fa-microphone right-icon" aria-hidden="true"></i>
        </div>
      </div>
      <div class="banner-content">
        <div class="title">
          <h1>Whats hot this weekend ?</h1>
        </div>
        <div class="description">
          <h5>
            Growing up in the wintry small town of the Berbrak, norway with less
            than 10000 people , Astrid was dream to music at a very rearly age .
            . .
          </h5>
        </div>
        <!-- <div class="listen-button">
          <input type="checkbox">
        </div> -->
      </div>
    </div>
    <div class="list-most-views">
      <div class="list-title">
        <label>Made for Kianoush</label>
      </div>
      <div class="list-description">
        <label>Base from you like songs <span>more songs</span></label>
      </div>
      <div class="items">
        <div class="item">
          <div class="item-image">
            <figure class="snip0013">
              <img src="../../../../assets/images/images.jpg" alt="sample33" />
              <div>
                <a href="#"><i class="ion-ios-star-outline left-icon"></i></a>
                <a href="#"
                  ><i class="ion-ios-download-outline right-icon"></i
                ></a>
              </div>
            </figure>
          </div>
          <div class="item-title">
            <label>Rimiexs</label>
          </div>
          <div class="item-signer">
            <label>Rihana</label>
          </div>
        </div>
        <div class="item">
          <div class="item-image">
            <figure class="snip0013">
              <img
                src="../../../../assets/images/91Ph+uTyyxL._AC_SL1500_.jpg"
                alt="sample33"
              />
              <div>
                <a href="#"><i class="ion-ios-star-outline left-icon"></i></a>
                <a href="#"
                  ><i class="ion-ios-download-outline right-icon"></i
                ></a>
              </div>
            </figure>
          </div>
          <div class="item-title">
            <label>Lal </label>
          </div>
          <div class="item-signer">
            <label>Yas</label>
          </div>
        </div>
        <div class="item">
          <div class="item-image">
            <figure class="snip0013">
              <img
                src="../../../../assets/images/0016073391_10.jpg"
                alt="sample33"
              />
              <div>
                <a href="#"><i class="ion-ios-star-outline left-icon"></i></a>
                <a href="#"
                  ><i class="ion-ios-download-outline right-icon"></i
                ></a>
              </div>
            </figure>
          </div>
          <div class="item-title">
            <label>Gharibane</label>
          </div>
          <div class="item-signer">
            <label>Alireza Ghorbani</label>
          </div>
        </div>
        <div class="item">
          <div class="item-image">
            <figure class="snip0013">
              <img
                src="../../../../assets/images/Todd-Dulaney--To-Africa-With-Love-album-cover.jpg"
                alt="sample33"
              />
              <div>
                <a href="#"><i class="ion-ios-star-outline left-icon"></i></a>
                <a href="#"
                  ><i class="ion-ios-download-outline right-icon"></i
                ></a>
              </div>
            </figure>
          </div>
          <div class="item-title">
            <label>30 Salegi</label>
          </div>
          <div class="item-signer">
            <label>Ehasn Khaje Amiri</label>
          </div>
        </div>
        <div class="item">
          <div class="item-image">
            <figure class="snip0013">
              <img
                src="../../../../assets/images/il0loty38e7eentb819nmxe8vk692alb.jpg"
                alt="sample33"
              />
              <div>
                <a href="#"><i class="ion-ios-star-outline left-icon"></i></a>
                <a href="#"
                  ><i class="ion-ios-download-outline right-icon"></i
                ></a>
              </div>
            </figure>
          </div>
          <div class="item-title">
            <label>Paroye Bi Ghayegh</label>
          </div>
          <div class="item-signer">
            <label>Mohsen Chavoshi</label>
          </div>
        </div>
      </div>
    </div>
    <div class="most-items">
      <div class="last-song-realase">
        <div class="title">
          <label>Last Song Realases</label>
        </div>
        <div class="items">
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/1.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Dot be angry</label>
                </div>
                <div class="item-desc">
                  <label>Dua Lipa</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/2.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Ala Dokhtar</label>
                </div>
                <div class="item-desc">
                  <label>Mohsen Chavoshi</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/3.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Janbe</label>
                </div>
                <div class="item-desc">
                  <label>Erfan & Darra</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/4.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Allow Khoda</label>
                </div>
                <div class="item-desc">
                  <label>Hamid Sefat</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
        </div>
      </div>
      <div class="last-song-realase">
        <div class="title">
          <label>Last Song Realases</label>
        </div>
        <div class="items">
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/5.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>SAD !</label>
                </div>
                <div class="item-desc">
                  <label>XXXXTENCOTIAN</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/6.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Yasin Torki</label>
                </div>
                <div class="item-desc">
                  <label>Doroghgo</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/8.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Pos</label>
                </div>
                <div class="item-desc">
                  <label>Sohrab MJ</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
          <div class="item">
            <div class="item-equlizer">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="item-addPlayList">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="item-description">
              <div class="image">
                <img
                  src="../../../../assets/images/7.jpg"
                />
              </div>
              <div class="descriptoin">
                <div class="item-label">
                  <label>Mehrad Hidden</label>
                </div>
                <div class="item-desc">
                  <label>Gav</label>
                </div>
              </div>
            </div>
            <div class="item-duration">
              4:45
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
